/*      ################################################################
        1. GENERAL STRUCTURES
################################################################# */
        * { 
                margin: 0;
                padding: 0px;
        } 

body { 
        background: #ffffff; 
        margin: 0; 
        height: 100%; 
        color: #384452;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        }

h1, h2, h3, h4, h5, h6 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
}

p { 
        padding: 0; 
        margin-bottom: 12px; 
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px; 
        line-height: 24px;
        color: #384452; 
        margin-top: 10px; 
}

img {
        height: auto;
        max-width: 100%;
}

a { 
        padding: 0;
        margin: 0;
        text-decoration: none; 
        -webkit-transition: background-color .4s linear, color .4s linear;
        -moz-transition: background-color .4s linear, color .4s linear;
        -o-transition: background-color .4s linear, color .4s linear;
        -ms-transition: background-color .4s linear, color .4s linear;
        transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

.centered {
        text-align: center
}

/*      ################################################################
        SITE WRAPS
################################################################# */

#headerwrap {
        background-color: #00b3fe;
        min-height: 550px;
        padding-top: 100px;
        padding-bottom: 0px;
        text-align: center;
}

/*      ################################################################
        BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
        min-height: 70px;
        padding-top: 10px;
        margin-bottom: 0px;
}

.navbar-brand {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
}

.navbar-header .navbar-brand {
        color: white;
}

.navbar-default .navbar-nav > li > a {
        color: white;
        font-weight: 700;
        font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover {
        color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #00b3fe;
        background-color: transparent;
}

.navbar-default {
        background-color: #384452;
        border-color: transparent;
}


/* Footer */
#footerwrap {
        padding-top: 60px;
        padding-bottom: 60px;
        background: #384452;
}

#footerwrap p {
        color: #bfc9d3;
}

#footerwrap h4 {
        color: white;
}

#footerwrap i {
        font-size: 30px;
        color: #bfc9d3;
        padding-right: 25px;
}

#footerwrap i:hover {
        color: #00b3fe
}
